<div class="main__cover-container">
    <h1 class="main__main-title">Consultorio psicológico</h1>
    <h2 class="main__main-subtitle">Mohamed Hay</h2>
    <div class="main__btn-container">
        <button class="main__btn-container__btn-reserve" href="#contact">Reserva tu cita</button>
    </div>
</div>

<div class="main__sections-container">
    <section class="main__section us">
        <h3 class="main__section__title office-title">La salud mental</h3>
        <p class="main__paragraph">La salud mental es un aspecto importante del bienestar general. Se refiere a cómo una
            persona se siente emocional y psicológicamente, y cómo maneja el estrés y las dificultades de la vida. Una
            buena salud mental puede ayudar a una persona a sentirse feliz, en paz y capaz de enfrentar los desafíos de
            la vida. Sin embargo, cuando una persona tiene problemas de salud mental, puede sentirse ansiosa, deprimida
            o incluso suicida. Es importante buscar ayuda si se experimentan problemas de salud mental, ya sea a través
            de un terapeuta, un psiquiatra o un grupo de apoyo.</p>
    </section>
    <section class="main__section exp">
        <h3 class="main__section__title">Experiencia</h3>
        <p class="main__paragraph">Soy un profesional con casi 10 años de experiencia trabajando con la primera infancia
            y realizando terapias psicológicas con población vulnerable. Me caracterizo por ser empático, paciente y
            comprensivo con los niños y sus familias. Tengo una gran capacidad para establecer vínculos de confianza con
            ellos y adapto mi enfoque terapéutico a las necesidades individuales de cada niño. Soy capaz de manejar
            situaciones estresantes y emocionales, debido a que trabajo con niños vulnerables y en situaciones
            difíciles. También tengo una gran capacidad para colaborar con otros profesionales de la salud y el
            bienestar, ya que trabajo en equipo para brindar un enfoque integral a cada caso.</p>
        <div class="main__btn-container">
            <button class="main__btn-container__btn-reserve">Reserva tu cita</button>
        </div>
    </section>
    <section class="main__section values">
        <h3 class="main__section__title">Valores</h3>
        <p class="main__paragraph">
        <ul>
            <li>Empatía</li>
            <li>Paciencia</li>
            <li>Comprensión</li>
            <li>Habilidad para establecer vínculos de confianza</li>
            <li>Adaptabilidad en el enfoque terapéutico</li>
            <li>Capacidad para manejar situaciones emocionales</li>
            <li>Trabajo en equipo</li>
            <li>Enfoque integral en cada caso</li>
            <li>Compromiso con brindar el mejor apoyo a los pacientes.</li>
        </ul>
        </p>
    </section>
    <section class="main__section benefits">
        <h3 class="main__section__title">Beneficios</h3>
        <article class="main__section__article">
            <h4 class="main__section__subtitle">Beneficios de la terapia psicológica</h4>
            <p class="main__paragraph">La terapia psicológica es una forma eficaz de tratar una variedad de problemas
                mentales y emocionales. Puede ayudar a las personas a entender y manejar mejor sus pensamientos,
                sentimientos y comportamientos, lo que puede mejorar su bienestar general. La terapia psicológica
                también puede ayudar a las personas a manejar mejor el estrés, la ansiedad y la depresión, así como a
                superar problemas de salud mental más graves. Además, la terapia psicológica puede ayudar a las personas
                a desarrollar habilidades para mejorar sus relaciones y enfrentar problemas de manera más efectiva. En
                resumen la terapia psicológica es una herramienta valiosa para mejorar el bienestar mental y emocional.
            </p>
        </article>
        <article class="main__section__article">
            <h4 class="main__section__subtitle">Cuando acudir a un psicólogo</h4>
            <p class="main__paragraph">Como psicólogo, recomiendo a mis pacientes que acudan a una sesión de terapia
                cuando estén experimentando problemas emocionales o mentales que afecten su calidad de vida, como
                ansiedad, depresión, estrés, problemas de relación, entre otros. También es importante buscar ayuda si
                se ha sufrido un evento traumático, un cambio significativo en la vida, o si se está enfrentando una
                enfermedad física. Si están experimentando dificultad para manejar sus pensamientos, sentimientos y
                comportamientos, la terapia psicológica puede ser de gran ayuda para encontrar una solución.</p>
        </article>
        <div class="main__btn-container">
            <button class="main__btn-container__btn-reserve">Reserva tu cita</button>
        </div>
    </section>
    <section class="main__section cards">
        <div class="card">
            <img src="/img/service1.jpg" alt="Terapia individual" title="Terapia individual">
            <a href="/servicios" class="services_link">
                <h3>Terapia individual</h3>
            </a>
            <p>La terapia individual es un espacio de trabajo terapéutico enfocado en el desarrollo de habilidades
                personales para mejorar la calidad de vida y el bienestar psicológico de las personas.</p>
        </div>
        <div class="card">
            <img src="/img/service2.jpg" alt="Terapia de pareja" title="Terapia de pareja">
            <a href="/servicios" class="services_link">
                <h3>Terapia de pareja</h3>
            </a>
            <p>La terapia de pareja es un espacio terapéutico donde se trabaja en la relación de la pareja con el
                objetivo de mejorar la comunicación, el entendimiento y el bienestar de la relación.</p>
        </div>
        <div class="card">
            <img src="/img/service3.jpg" alt="Terapia familiar" title="Terapia familiar">
            <a href="/servicios" class="services_link">
                <h3>Terapia familiar</h3>
            </a>
            <p>La terapia familiar es un espacio terapéutico donde se trabaja con la familia para resolver conflictos,
                mejorar la comunicación y promover relaciones saludables.</p>
        </div>
        <div class="card">
            <img src="/img/service4.jpg" alt="Terapia infantil" title="Terapia infantil">
            <a href="/servicios" class="services_link">
                <h3>Terapia infantil</h3>
            </a>
            <p>La terapia infantil es un espacio terapéutico enfocado en el desarrollo emocional, conductual y social de
                los niños. Se trabaja con ellos a través de técnicas lúdicas y creativas.</p>
        </div>
        <div class="card">
            <img src="/img/service5.jpg" alt="Terapia de grupo" title="Terapia de grupo">
            <a href="/servicios" class="services_link">
                <h3>Terapia de grupo</h3>
            </a>
            <p>La terapia de grupo es un espacio terapéutico en el que un grupo de personas con problemáticas similares
                trabajan juntas con el objetivo de mejorar su bienestar emocional y psicológico.</p>
        </div>
        <div class="card">
            <img src="/img/service6.jpg" alt="Orientación y asesoramiento" title=" y asesoramiento">
            <a href="/servicios" class="services_link">
                <h3>Orientación y asesoramiento</h3>
            </a>
            <p>La orientación y asesoramiento es un espacio terapéutico en el que se brinda información y se da apoyo a
                las personas que necesitan asesoramiento en temas específicos, como el manejo del estrés, la toma de
                decisiones, etc.</p>
        </div>
    </section>

    <section id="contact" class="main__section form">
        <form class="main__section form" action="/home#contact" method="POST">
            <h4 class="main__section__title">Agenda tu cita AQUÍ</h4>
            <p>Llena el siguiente formulario para reservar una cita o para consultar alguna duda. Nos comunicaremos de
                vuelta para confirmar disponibilidad.</p>
            <ul>
                <li>
                    <input type="text" name="name" placeholder="Nombre*" <% if (errors && errors.name) { %>
                    class="form__input--error"
                    <% } %>>
                        <% if (errors && errors.name) { %>
                            <p class="form__error">
                                <%= errors.name.msg %>
                            </p>
                            <% } %>
                </li>
                <li>
                    <input type="text" name="phone" placeholder="Número de teléfono*" <% if (errors && errors.phone) {
                        %>
                    class="form__input--error"
                    <% } %>>
                        <% if (errors && errors.phone) { %>
                            <p class="form__error">
                                <%= errors.phone.msg %>
                            </p>
                            <% } %>
                </li>
                <li>
                    <input type="email" name="email" placeholder="Correo electrónico*" <% if (errors && errors.email) {
                        %>
                    class="form__input--error"
                    <% } %>>
                        <% if (errors && errors.email) { %>
                            <p class="form__error">
                                <%= errors.email.msg %>
                            </p>
                            <% } %>
                </li>
                <li>
                    <textarea name="message" placeholder="Ingresa tu mensaje"></textarea>
                </li>
                <li>
                    <input type="submit" value="Enviar" class="main__btn-container__btn-reserve">
                </li>
            </ul>

            <% if (typeof success_msg !=='undefined' && success_msg) { %>
                <div class="success-msg">
                    <p>
                        <%= success_msg %>
                    </p>
                </div>
                <% } else { %>
                    <div class="success-msg">
                        <p>Haga click en el botón para enviar el formulario</p>
                    </div>
                    <% } %>
        </form>
    </section>

    <section class="main__section testimonials">
        <div class="slider">
            <div class="slider__arrow_prev"><img class="arrow" src="/img/arrow-left.png" alt="Arrow left"></div>
            <div class="slider-container">
                <div class="slider__item slider-hidden" id="testimonio-1">
                    <img class="slider__item-img" src="/img/pacient-ana-vargas.jpg" alt="Ana Vargas">
                    <p class="slider__item-txt">"La terapia con Mohamed ha sido una de las mejores decisiones que he
                        tomado. Con su apoyo pude entender y aceptar mis emociones y ha mejorado significativamente mi
                        calidad de vida."</p>
                    <p class="slider__item-name">Ana Vargas</p>
                </div>
                <div class="slider__item slider-hidden" id="testimonio-2">
                    <img class="slider__item-img" src="/img/pacient-victor-jimenez.jpg" alt="Víctor Jiménez">
                    <p class="slider__item-txt">"Tuve que vivir situaciones muy duras por culpa del conflicto armado.
                        Con la ayuda de Mohamed he logrado superar muchos de esos traumas, es muy profesional en su
                        trabajo. Estoy muy agradecido con él."</p>
                    <p class="slider__item-name">Victor Jiménez</p>
                </div>
                <div class="slider__item slider-hidden" id="testimonio-3">
                    <img class="slider__item-img" src="/img/pacient-miguel-sepulveda.jpg" alt="Miguel Sepúlveda">
                    <p class="slider__item-txt">"Mohamed es un psicólogo excepcional. Me ha ayudado a superar mis
                        problemas de ansiedad y me enseñó herramientas para manejar mejor mi estrés."</p>
                    <p class="slider__item-name">Miguel Sepúlveda</p>
                </div>
            </div>
            <div class="slider__arrow_next"><img class="arrow" src="/img/arrow-right.png" alt="Arrow right"></div>
        </div>
    </section>
</div>

</div>