<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Consultorio psicológico de Mohamed Hay, ofrecemos servicios de terapia individual y de pareja.">
    <meta name="keywords"
        content="terapia, psicología, Mohamed Hay, consultorio psicológico, terapia individual, terapia de pareja">
    <title><%- title %></title>
    <link rel="icon" href="img/favicon-mohamed-hay.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header__logo-container">
            <a href="/inicio"><img class="main-header__logo-container__image" src="/img/logo-mohamed-hay-circular.png"
                    alt="Mohamed Hay Psicólogo - Logo"></a>
        </div>
        <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <div class="main-header__nav-container">
            <nav class="main-header__nav column-distribution">
                <a href="/inicio">Inicio</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/servicios">Servicios</a>
                <a href="/blog">Blog</a>
                <a href="/contacto">Contacto</a>
            </nav>
        </div>
        <div class="main-header__btn-container">
            <a href="/contacto"><button class="main-header__btn-container__btn-reserve">Reserva tu cita</button></a>
        </div>
    </header>
    <main class="main">
        <%- body %>
    </main>
    <footer class="main-footer">
        <h4 class="main-footer__title"><a class="footer__link" href="/inicio">Mohamed Hay | Consultorio psicológico</a>
        </h4>
        <div class="widget-container">
            <a href="https://web.facebook.com/" target="_blank"><img class="main-footer__icon"
                    src="/img/facebook-icon.png" alt="Icono de Facebook"></a>
            <a href="https://twitter.com/mohamedzhc" target="_blank"><img class="main-footer__icon"
                    src="/img/twitter-icon.png" alt="Icono de Twitter"></a>
            <a href="https://www.linkedin.com/" target="_blank"><img class="main-footer__icon"
                    src="/img/linkedin-icon.png" alt=""></a>
            <a href="https://www.instagram.com/mohamedhaypsicologo/" target="_blank"><img class="main-footer__icon"
                    src="/img/ing.png" alt="Icono de Instagram"></a>
        </div>
        <div class="Legal attachment">
            <p><a class="footer__link" href="https://github.com/darioernesto-roca" target="_blank">Desarrollado por
                    Dario Ernesto Roca 2023</a> | Todos los derechos Reservados</p>
        </div>
    </footer>
    <a href="https://api.whatsapp.com/send?phone=573004277281&amp;text=Hola, estuve visitando su sitio Web y quisiera obtener más información sobre citas y tratamientos de su consultorio psicológico."
        target="_blank" class="float">
        <img class="float" src="/img/whatsapp.png" alt="WhatsApp">
    </a>
    <script src="/index.js"></script>
</body>

</html>