<div class="services__sections-container">
    <h1 class="page-title"><%- title %></h1>

    <section class="services__section cards">
        <div class="services-card">
            <a href="/contacto" class="services_link">
                <img src="/img/service1.jpg" alt="Terapia individual" title="Terapia individual">
                <h3>Terapia individual</h3>
                <p>La terapia individual es una opción de tratamiento que se enfoca en mejorar la calidad de vida y el
                    bienestar psicológico de las personas a través del desarrollo de habilidades personales. En este
                    tipo de terapia, el psicólogo trabaja en colaboración con el paciente para explorar sus emociones,
                    pensamientos y comportamientos, identificar patrones negativos y aprender estrategias para manejar
                    el estrés y las dificultades en su vida. La terapia individual puede ayudar a las personas a mejorar
                    su autoestima, a afrontar traumas y a establecer relaciones más saludables.</p>
            </a>
        </div>
        <div class="services-card">
            <a href="/contacto" class="services_link">
                <img src="/img/service2.jpg" alt="Terapia de pareja" title="Terapia de pareja">
                <h3>Terapia de pareja</h3>
                <p>La terapia de pareja es un espacio terapéutico en el que se trabaja con ambos miembros de la relación
                    con el objetivo de mejorar la comunicación y el entendimiento, y fomentar el bienestar de la pareja.
                    El psicólogo brinda un ambiente seguro en el que la pareja puede explorar los problemas que están
                    afectando su relación, tales como conflictos, celos, problemas de confianza y problemas de
                    intimidad. La terapia de pareja puede ayudar a las parejas a aprender habilidades para comunicarse
                    mejor, resolver conflictos de manera efectiva y construir una relación más fuerte.</p>
            </a>
        </div>
        <div class="services-card">
            <a href="/contacto" class="services_link">
                <img src="/img/service3.jpg" alt="Terapia familiar" title="Terapia familiar">
                <h3>Terapia familiar</h3>
                <p>La terapia familiar es un espacio terapéutico donde se trabaja con la familia para resolver
                    conflictos, mejorar la comunicación y promover relaciones saludables. En este tipo de terapia, el
                    psicólogo brinda un ambiente seguro en el que los miembros de la familia pueden explorar los
                    problemas que están afectando su relación, tales como la dinámica familiar, la comunicación, el
                    cambio en la estructura familiar, etc. La terapia familiar puede ayudar a las familias a aprender
                    habilidades para comunicarse mejor, resolver conflictos de manera efectiva y fortalecer las
                    relaciones dentro de la familia.</p>
            </a>
        </div>
        <div class="services-card">
            <a href="/contacto" class="services_link">
                <img src="/img/service4.jpg" alt="Terapia infantil" title="Terapia infantil">
                <h3>Terapia infantil</h3>
                <p>La terapia infantil es un espacio terapéutico enfocado en el desarrollo emocional, conductual y
                    social de los niños. En este tipo de terapia, el psicólogo trabaja con los niños a través de
                    técnicas lúdicas y creativas para ayudarles a expresar sus sentimientos, a afrontar situaciones
                    difíciles y a aprender habilidades para manejar el estrés y las dificultades en su vida. La terapia
                    infantil puede ayudar a los niños a mejorar su autoestima, a afrontar traumas y a establecer
                    relaciones más saludables.</p>
            </a>
        </div>
        <div class="services-card">
            <a href="/contacto" class="services_link">
                <img src="/img/service5.jpg" alt="Terapia de grupo" title="Terapia de grupo">
                <h3>Terapia de grupo</h3>
                <p>La terapia de grupo es un espacio terapéutico en el que un grupo de personas con problemáticas
                    similares trabajan juntas con el objetivo de mejorar su bienestar emocional y psicológico. En este
                    tipo de terapia, el psicólogo brinda un ambiente seguro en el que los miembros del grupo pueden
                    compartir sus experiencias, aprender estrategias para manejar el estrés y las dificultades en su
                    vida, y apoyarse mutuamente. La terapia de grupo puede ayudar a los participantes a sentirse menos
                    aislados, a mejorar su autoestima y a establecer relaciones más saludables.</p>
            </a>
        </div>
        <div class="services-card">
            <a href="/contacto" class="services_link">
                <img src="/img/service6.jpg" alt="Orientación y asesoramiento" title=" y asesoramiento">
                <h3>Orientación y asesoramiento</h3>
                <p>La Orientación y Asesoramiento es un espacio terapéutico en el que se brinda información y se da
                    apoyo a las personas que necesitan asesoramiento en temas específicos. Este servicio puede ser útil
                    para aquellos que se sienten abrumados por el estrés, que necesitan ayuda para tomar decisiones
                    importantes en sus vidas, o que simplemente buscan una orientación profesional en algún tema.
                    Durante las sesiones, el terapeuta brinda recursos y herramientas para mejorar la calidad de vida y
                    el bienestar emocional del paciente, y juntos trabajan en la identificación de estrategias y
                    técnicas para lograr sus objetivos.</p>
            </a>
        </div>
    </section>
</div>