<h1 class="page-title"><%- title %></h1>

<div class="page__section-container">
    <div class="us">
        <div class="us__paragraph-container">
            <p>Mohamed Hay es un psicólogo graduado de la Universidad del Magdalena con una sólida trayectoria de 10
                años trabajando en el campo de la psicoterapia. Su experiencia se enfoca en la atención de personas que
                han sufrido traumas, así como en terapia infantil y el tratamiento de poblaciones vulnerables, como
                indígenas, afrodescendientes y desplazados.</p>
            <p>Su abordaje terapéutico se enfoca en la integración de diversas técnicas, incluyendo la terapia
                cognitivo-conductual, la terapia gestalt y la terapia de aceptación y compromiso. Mohamed se preocupa
                por ofrecer un espacio seguro y de confianza para sus pacientes, en el que puedan sentirse cómodos y
                expresarse libremente.</p>
            <p>En su carrera, Mohamed ha trabajado en diversas instituciones, desde hospitales hasta organizaciones sin
                fines de lucro, ayudando a personas a superar sus problemas emocionales y encontrar su camino hacia una
                vida más saludable y equilibrada. Su pasión por el trabajo con pacientes lo ha llevado a seguir
                formándose en su área, manteniéndose actualizado en las últimas investigaciones y técnicas de la
                psicología clínica.</p>
        </div>
        <div class="us__image-container">
            <img class="us-image" src="/img/us-image.jpg" alt="Doctor Mohamed Hay">
        </div>
    </div>
</div>